form {
  width: 100%;
  margin: 0;
  @media (min-width: 769px) {
    margin: 15px auto;
    width: 600px;
  }

  .mat-card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}
