$colors: "green" #24D024, "yellow" #FFD700, "pink" #f53896, "red" #fb4545, "blue" #0A53DE;
$availableTiming: '0.75', '1', '1.25', '1.5';

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@each $timing in $availableTiming {
  @each $name, $color in $colors {
    .#{$name}-#{str-replace($timing, '.', '-')} {
      background-color: $color;
      animation: lightning-#{$name}-#{str-replace($timing, '.', '-')} #{$timing}s infinite
    }

    @keyframes lightning-#{$name}-#{str-replace($timing, '.', '-')} {
      0% {
        box-shadow: 10px 0 70px 20px #{$color};
      }
      50% {
        box-shadow: none;
      }
      100% {
        box-shadow: 10px 0 70px 20px #{$color};
      }
    }
  }

}



