$colors: "green" #24D024, "yellow" #FFD700, "pink" #f53896, "red" #fb4545, "blue" #0A53DE;
$availableTiming: '0.75', '1', '1.25', '1.5';

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@each $timing in $availableTiming {
  @each $name, $color in $colors {
    .#{$name}-#{str-replace($timing, '.', '-')} {
      background-color: $color;
      animation: lightning-#{$name}-#{str-replace($timing, '.', '-')} #{$timing}s infinite
    }

    @keyframes lightning-#{$name}-#{str-replace($timing, '.', '-')} {
      0% {
        box-shadow: 10px 0 70px 20px #{$color};
      }
      50% {
        box-shadow: none;
      }
      100% {
        box-shadow: 10px 0 70px 20px #{$color};
      }
    }
  }

}


.lights {
  position: relative;
  z-index: 100;
  width: 320px;
  margin: 125px auto 0 auto;
  padding-left: 55px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  .letter {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 18px;
    height: 42px;
    border-radius: 50%;
    top: 15px;
    text-align: center;
    margin: 10px;

    span {
      text-align: center;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 20px;
    }

    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: 15px;
      height: 13px;
      border-radius: 3px;
      top: -6px;
      left: 2px;
    }

    &.dummy-letter.dead {
      transition: background-color 3s, color 3s, animation 5s;
      background-color: black;
      box-shadow: none;
      animation: none;
      color: black;
      text-shadow: none;
      transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);

      span {
        visibility: hidden;
        opacity: 0;
        transition: opacity 2.5s, visibility 2.5s;
        transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
      }

      &.hide {
        transform: translateX(0) scale(0.5);
        visibility: hidden;
        opacity: 0;
        margin: 0;
        width: 0;
        height: 0;
        transition: transform 3s, opacity 3s, visibility 3s, width 1s 2.5s, height 1s 2.5s, margin 1s 2.5s;
        transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
      }
    }
  }
}

@keyframes no-divider {
  from {
  }
  to {
    position: absolute;
  }
}

.divider {
  width: 100%;

  &.isEnding {
    animation: no-divider 0.5s 3s forwards;
  }
}

.christmas {
  position: absolute;
  //transform: scale(2);
  //z-index: 50;
  //height: 100%;
  //width: 100%;
  margin: auto;
  top: 50%;
  left: 50%;



  .tree {
    position: relative;
    background-color: #685044;
    width: 60px;
    height: 160px;
    top: 200px;
    transform-style: preserve-3d;

    &:before {
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border-left: 180px solid transparent;
      border-right: 180px solid transparent;
      border-bottom: 540px solid #127475;
      border-radius: 60px;
      top: -500px;
      left: -150px;
    }


    &:after {
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border-right: 180px solid transparent;
      border-bottom: 540px solid #0e9594;
      border-bottom-right-radius: 60px;
      top: -540px;
      left: 30px;
    }
  }

  &.isEnding {
    .tree, .star {
      transform: translateX(0) scale(0.5);
      visibility: hidden;
      opacity: 0;
      margin: 0;
      width: 0;
      height: 0;
      transition: transform 3s, opacity 3s, visibility 3s, width .5s 2.5s, height 0.5s 2.5s, margin .5s 2.5s;
      transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }
  }

  .shadow {
    background-color: rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 400px;
    height: 60px;
    border-radius: 50%;
    top: 325px;
    left: -180px;
    z-index: -1;
  }

  .star {
    margin: 100px 0;
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #f9dc5c;
    border-left: 50px solid transparent;
    transform: rotate(35deg);
    top: -380px;
    left: -18px;
  }

  .star:before {
    border-bottom: 40px solid #f9dc5c;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -25px;
    left: -30px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }

  .star:after {
    position: absolute;
    border-bottom: 35px solid #f9dc5c;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    display: block;
    top: 0px;
    left: -50px;
    width: 0px;
    height: 0px;
    transform: rotate(-70deg);
    content: '';
  }

  .gift {
    position: absolute;
    width: 120px;
    height: 100px;
    background-color: #ffc857;
    top: 260px;
    left: 60px;
    box-shadow: inset -16px 0 0 rgba(0, 0, 0, 0.07);
  }

  .gift:before {
    content: "";
    position: absolute;
    width: 130px;
    height: 30px;
    background-color: #ffc857;
    left: -5px;
    box-shadow: inset -16px -8px 0 rgba(0, 0, 0, 0.07);
  }

  .gift:after {
    content: "";
    background-color: #db3a34;
    width: 20px;
    height: 100px;
    position: absolute;
    left: 50px;
  }

  .ribbon {
    position: absolute;
    width: 40px;
    height: 20px;
    border: 6px solid #db3a34;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 232px;
    left: 70px;
  }

  .ribbon:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    border: 6px solid #db3a34;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 44px;
    top: -16px;
  }

  .gift2 {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: #08bdbd;
    top: 280px;
    left: -130px;
    box-shadow: inset -16px 0 0 rgba(0, 0, 0, 0.07);

  }

  .gift2:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    background-color: #08bdbd;
    left: -5px;
    box-shadow: inset -16px -8px 0 rgba(0, 0, 0, 0.07);
  }

  .gift2:after {
    content: "";
    background-color: #abff4f;
    width: 20px;
    height: 80px;
    position: absolute;
    left: 40px;
  }

  .gift3 {
    position: absolute;
    width: 80px;
    height: 60px;
    background-color: #7678ed;
    top: 300px;
    left: -170px;
    box-shadow: inset -16px 0 0 rgba(0, 0, 0, 0.07);

  }

  .gift3:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    background-color: #7678ed;
    left: -5px;
    box-shadow: inset -16px -8px 0 rgba(0, 0, 0, 0.07);

  }

  .gift3:after {
    content: "";
    background-color: #f7b801;
    width: 14px;
    height: 60px;
    position: absolute;
    left: 35px;
  }

  .ribbon2 {
    position: absolute;
    width: 30px;
    height: 14px;
    border: 6px solid #abff4f;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 258px;
    left: -120px;
  }

  .ribbon2:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 14px;
    border: 6px solid #abff4f;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 30px;
    top: -16px;
  }

  .ribbon3 {
    position: absolute;
    width: 24px;
    height: 10px;
    border: 6px solid #f7b801;
    border-radius: 50%;
    transform: skew(15deg, 15deg);
    top: 284px;
    left: -165px;
  }

  .ribbon3:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 10px;
    border: 6px solid #f7b801;
    border-radius: 50%;
    transform: skew(-15deg, -20deg);
    left: 30px;
    top: -16px;
  }
}

.disclaimer {
  transform: translateX(0) scale(0.5);
  visibility: hidden;
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 100px;

  &.isEnding {
    transform: none;
    visibility: visible;
    opacity: 1;
    margin: auto;
    width: 100%;
    transition: transform 1s 3s, opacity 1s 3s, visibility 1s 3s, height 1s 3s, margin 1s 3s;
    transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }

}
