<div class="rules">
  <h2>Je te rappelle les règles :</h2>
  <ul>
    <li>le Secret Santa c'est offrir des cadeaux mais pas que ! Quand on organise un Secret Santa, c'est tout d'abord
      pour partager un moment convivial et raviver la magie de Noël. Parce que nous les adultes, on a jamais assez de
      cadeaux vous ne trouvez pas ?
    </li>
    <li>Le principe du Secret Santa est de tirer le nom de quelqu'un qui ne saura pas que c'est vous son Père Noël
      secret hihi ! Vous devrez alors lui offrir un cadeau (à vous de mener votre petite enquête pour savoir ce qui lui
      ferait plaisir) !
    </li>
    <li>Il découvrira alors son cadeau le jour J mais aussi l'identité de son Père Noël secret. Surprise !</li>
  </ul>

  <h2>Et comment on fait ? C'est simple</h2>
  <ul>
    <li>Il faut que tout les joueurs (les secret Santas) se soit inscrit avant la date limite</li>
    <li>Une fois la date limite dépassée, j'ai demandé à mes elfes de mélanger les noms</li>
    <li>Grace à un algorithme que la Nasa cherche a me voler, je suis sur que tu ne peux pas te piocher toi-même</li>
    <li>Tu te connectes après la date limite, tu découvre quel nom tu as pioché</li>
    <li>Tu dois offrir un cadeau à la personne que tu as tirée au sort !</li>
  </ul>

  <button mat-raised-button (click)="goBack()">Revenir sur mes pas.</button>
</div>
